POSTGRES_PASSWORD=replace-with-a-strong-database-password
ADMIN_EMAIL=
ADMIN_PASSWORD=
PUBLIC_FRONTEND_URL=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_SSL=true
EMAIL_USERNAME=attendancemanagementsystem6@gmail.com
EMAIL_PASSWORD=
EMAIL_FROM=attendancemanagementsystem6@gmail.com
